@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

a {
    text-decoration: none;
    color: white;
}

.list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #F6F6F6;
    border-radius: 25px;
}

.img-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
    width: 100%;
    height: 223px;
    border-radius: 25px;
    position: relative;
    overflow: hidden;
    background-size: cover;
}

.img-container::after {
    content: '';
    z-index: 50;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 30%);
}

.img-container h1 {
    font-family: 'Montserrat', sans-serif;
    color: white;
    z-index: 200;
    font-weight: 500;
}
